.leftSidebar {
    border-radius: 0;
    height: calc(100% - 50px);
    overflow: hidden;
    top: 72px !important;

    @media screen and (max-width:1279px) {
        height: 100% !important;
        border-radius: 0;
    }

    .mini-icon {
        display: none;
    }

    .mini-text {
        display: block;
        font-size: 12px;
        font-weight: 500;
    }

    .profile-name {
        background: rgba(0, 0, 0, 0.5);

        h5 {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    .bg-hover-primary {
        &:hover {

            .iconify,
            .v-icon {
                color: rgb(var(--v-theme-primary));
            }

            .v-list-item-title {
                color: rgb(var(--v-theme-primary));
            }

        }
    }
}

.verticalLayout {
    .logo {
        @media screen and (max-width:1024px) {
            width: auto;
        }
    }
}

.v-navigation-drawer__content {
    overflow-y: hidden !important;
}

/*This is for the Vertical sidebar*/
.scrollnavbar {
    height: calc(100vh - 170px);

    .userbottom {
        bottom: 0px;
        width: 100%;
        position: fixed;
        z-index: 2;
    }

    .smallCap {
        padding: 3px 12px 12px 0px !important;
        font-weight: 500;
        margin-top: 24px;
        color: rgb(var(--v-theme-grey200));

        &:first-child {
            margin-top: 0 !important;
        }
    }

    /*General Menu css*/
    .v-list-group__items .v-list-item,
    .v-list-item {
        border-radius: $border-radius-root + 3px;
        padding-inline-start: calc(12px + var(--indent-padding) / 10) !important;
        margin: 0 0 2px;

        .v-list-item__prepend {
            margin-inline-end: 13px;
            // position: relative;
            z-index: 2;
        }

        .v-list-item__append {
            position: relative;
            z-index: 2;

            .v-icon {
                margin-inline-start: 13px;
            }
        }
    }

    /*This is for the dropdown*/
    .v-list {
        color: rgb(var(--v-theme-textSecondary));

        >.v-list-item.v-list-item--active,
        .v-list-item--active>.v-list-item__overlay {
            background: transparent;
            color: white;
        }

        .v-list-item--variant-text {
            .v-list-item__overlay {
                background: transparent;
            }
        }

        >.v-list-group {
            position: relative;

            >.v-list-item--active,
            >.v-list-item--active:hover {
                background: transparent;
                color: white;
            }

            .v-list-group__items .v-list-item.v-list-item--active,
            .v-list-group__items .v-list-item.v-list-item--active>.v-list-item__overlay {
                background: transparent;
                color: rgb(var(--v-theme-secondary));
            }
        }

        .v-list-item__content {
            position: relative;
            z-index: 2;
        }

        .icon-box {
            height: 40px;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: $border-radius-root + 3px;
            transition: all 0.2s ease-in-out;
        }

        .v-list-item--density-default.v-list-item--one-line {
            padding-top: 5px;
            padding-bottom: 5px;
            min-height: 40px !important;
        }

        .v-list-item--density-default:not(.v-list-item--nav).v-list-item--one-line {
            padding-inline-start: 0 !important;
            padding-inline-end: 12px;
        }

        .z-index-2 {
            z-index: 2;
        }

        .bg-hover-primary::before {
            background-color: rgba(var(--v-theme-primary), 12%);
        }

        .bgicn-hover-primary {
            background-color: rgba(var(--v-theme-primary), 12%);
        }

        .bgicn-hover-primary {
            &::before {
                position: absolute;
                top: 0;
                bottom: 0;
                content: "";
                width: 40px;
                height: 100%;
                transition: all 0.4s ease-in-out;
                z-index: 1;
                border-radius: 10px;
                left: 0;
            }

            &:hover::before {
                z-index: 1;
            }

            &.v-list-item--active::before {
                z-index: 1;
            }
        }

        .v-list-item {
            .navbox {
                &:before {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    content: "";
                    width: 0;
                    height: 100%;
                    transition: all 0.4s ease-in-out;
                    z-index: 1;
                    border-radius: 0px;
                    left: -16px;
                    width: 0;
                }
            }

            &.v-list-item--active {
                .navbox {
                    &:before {
                        width: calc(100% + 16px);
                        border-radius: 0 24px 24px 0;
                    }

                    .bgicn-hover-primary {
                        background-color: rgba(var(--v-theme-primary), 0%);
                    }
                }

            }

            &:hover {
                .navbox {
                    &:before {
                        width: calc(100% + 16px);
                        border-radius: 0 24px 24px 0;
                    }

                    .texthover-primary {
                        color: rgb(var(--v-theme-primary));
                    }

                    .bgicn-hover-primary {
                        background-color: rgba(var(--v-theme-primary), 0%);
                    }
                }
            }
        }

        .sublinks {
            .v-list-item {


                .sublink-dot {
                    height: 6px;
                    width: 6px;
                    border-radius: 100%;
                    background-color: rgb(var(--v-theme-textSecondary));
                    opacity: 0.7;
                }
                .v-list-item-title {
                    opacity: 0.7;
                }

                &:hover {
                    .sublink-dot,.v-list-item-title {
                        opacity: 1;
                    }
                }

              
            }
        }

    }
}

@media screen and (max-width:1280px) {
    .leftSidebar {
        top: 0 !important;
    }
}